.boxItem-index {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.el-table--dataUse th {
  text-align: center;
}
.el-table--dataUse td {
  text-align: center;
}
.el-table--accident th {
  text-align: center;
}
.el-table--accident td {
  text-align: center;
}